/* *:not(html):not(body) {border: 1px dashed #0000FF;} */

/* position elements */

html, 
body {
    width: 100%;
    height: 100%;
}

.logo-n-new {
    width: 100%;
    height: 10%;
    float: left; /* adjust Bootstrap class="container" */
    background-color: bisque;
}

.logo, 
.new {
    display: inline-block;
}

.empty-div {
    clear: both; /* clear the above float */
}

.rooms-n-chatroom {
    width: 100%;
    height: 90%;
    padding: 0;
}

.rooms {
    width: 20%;
    height: 100%;
    float: left;
    background-color: bisque;
    margin-right: 15px;
    padding-left: 20px;
}

.newmsg {
    position: absolute;
    bottom: 15px;
    margin-left: 21%;
}

.content, 
.sentAt {
    display: inline-block;
}

.sentAt {
    float: right;
}

/* style elements */

.new {
    margin-left: 20px;
}

.rooms h4 {
    padding: 8px 0 8px 0;
}

.chatroom {
    padding: 10px 30px 10px 0;
}

.newmsg input {
    width: 1000px;
}

.username {
    font-weight: bold;
}