html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 300px;
    background-color: beige;
    float: left;
}

.container li {
    list-style-type: none;
}

h3, 
.top-btn {
    float: left;
}

.top-btn {
    margin: 1.8rem 0 0 2.2rem;
}

.empty-div {
    clear: both;
}