<!DOCTYPE html>
<html ng-app="blocChat">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Chat</title>
    
    <!-- libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- internal -->
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="container">
        <h3>Bloc Chat</h3>
        
        <!-- Modal Controller -->
        <div ng-controller="ModalCtrl as modalParent">
            <button class="btn btn-primary top-btn" ng-click="modalParent.open()">New Room</button>
            <div class="empty-div"></div>
            
            <script type="text/ng-template" id="theModal.html">
                <div class="modal-header">
                    <h4 class="modal-title">Create New Room</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label>Enter Room Name</label>
                        <input type="text" class="form-control" ng-model="userInput">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="modalChild.addRoom(userInput); modalChild.create()">Create</button>
                    <button class="btn btn-warning" ng-click="modalChild.cancel()">Cancel</button>
                </div>
            </script>
        </div>
        
        <!-- Home Controller -->
        <div ng-controller="HomeCtrl as home">
            <div ng-repeat="room in home.rooms">
                <h4><li>{{room.$value}}</li></h4>
            </div>
            
            <!-- Problem: When the button is clicked, p tags don't update accordingly. -->
            <button ng-click="home.setCurrentRoomId('-KdMgd87CnPob6kUFgUh')">click to Update Factory</button>
            <p>{{home.messages}}</p>
        </div>
    </div>
    
    <!-- libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
    var config = {
        apiKey: "AIzaSyBOHtvtMKXG3m3115b_b3flvAstrCg38NQ",
        authDomain: "bloc-chat-d1c22.firebaseapp.com",
        databaseURL: "https://bloc-chat-d1c22.firebaseio.com",
        storageBucket: "bloc-chat-d1c22.appspot.com",
        messagingSenderId: "302302143469"
    };
    firebase.initializeApp(config);
    </script>
    
    <!-- internal -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/HomeCtrl.js"></script>
    <script src="/scripts/controllers/ModalCtrl.js"></script>
    <script src="/scripts/services/Room.js"></script>
    <script src="/scripts/services/Message.js"></script>
</body>
</html>